<!-- <h1>Fruit Type</h1>
<kendo-chart [seriesColors]="['orange', 'green', 'purple', 'blue']" (seriesClick)="onSeriesClick($event)">
  <kendo-chart-legend position="bottom" orientation="vertical"></kendo-chart-legend>
  <kendo-chart-series>
    <kendo-chart-series-item type="pie"
      [data]="pieData"
      field="value"
      categoryField="category">
      <kendo-chart-series-item-labels
            [content]="labelContent"
            color="black" background="none">
          </kendo-chart-series-item-labels>
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart> -->

<router-outlet></router-outlet>