<kendo-chart [seriesColors]="['green', 'red']" [pannable]="true" [zoomable]="true" [categoryAxis]="categoryAxis" (seriesClick)="onSeriesClick($event)">
    <kendo-chart-title text="Gain / Loss"></kendo-chart-title>
    <kendo-chart-series>
            <kendo-chart-series-item
                *ngFor="let item of series"
                [data]="item.items" [name]="item.value"
                field="value" categoryField="time"
                type="column">
            </kendo-chart-series-item>
          </kendo-chart-series>
</kendo-chart>